:root {
    --font: 'Inter', sans-serif;
    --blueDark: hsl(240, 38%, 20%);
    --blueGrayish: hsl(240, 18%, 77%);
}

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: var(--font);
    font-size: 20px;
}

.is-hidden {
    display: none;
}

.carousel__image-container {
    background-image: url(../images/pattern-bg.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: auto;
    position: relative;

}

.carousel__image {
    height: 85%;
    width: 77%;
    border-radius: 10px;
}

.carousel__image-container::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 70px;
    width: 100px;
    height: 100px;
    z-index: -1;
    box-shadow: 0 20px 40px 0 rgba(0,0,0, .3);
}

.carousel__button-container {
    background-color: white;
    height: 46px;
    width: 90px;
    border-radius: 30px;
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    position: absolute;
    bottom: 2px;
    left: 60px;
}

.carousel__button {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.carousel__button-container img {
    height: 15px;
    width: 13px;
}

p {
    font-weight: 300;
}

strong {
    display: block;
    margin-top: 1rem;
}


.carousel__details-container {
    background-image: url(../images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: 50% 0;
    text-align: center;
    padding: 2rem;
}

@media (min-width:500px){
    
    html, body{
        height: 100%;
    }

    html {
        font-size: 32px;

    }

    body {
        position:relative;
    }

    .carousel__main-wrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .carousel__container {
        display: grid;

        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "details image";
        place-items: center;
        position: re;
    }
    

    .carousel__image-container {grid-area: image;}
    .carousel__details-container {grid-area: details;}

    .carousel__details-container {
        text-align: left;
        transform: translateX(300px);
    }

    .carousel__image-container {
        height: 700px;
        width: 800px;
    }

    .carousel__image-container::before {
        bottom: 60px;
        left: 120px;
        width: 360px;
    }

    .carousel__button-container {
        bottom: 32px;
        left: 180px;
    }

    .carousel__button-container > * {
        transform: translateY(-3px);
    }

    .carousel__details-container p {
        line-height: 1.5;
    }

    strong, small {
        font-size: .7rem;
    }  

    strong {
        display: inline-block;
        margin-top: 2rem;
    }

    small {
        display: inline-block;
        opacity: .4;
    }
}