:root {
    --font: 'Inter', sans-serif;
    --blueDark: hsl(240, 38%, 20%);
    --blueGrayish: hsl(240, 18%, 77%);
}

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: var(--font);
    font-size: 20px;
    /* background-color: pink; */
    /* font-weight: 300; */
}

.is-hidden {
    display: none;
}

.carousel__main-wrapper {
    position: relative;
}


.carousel__container {
    position: absolute;
    top: 0;
    left: 0;
}


.carousel__image-container {
    background-image: url(../images/pattern-bg.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* width: 80%; */
    /* margin: 0 auto; */
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: auto;
    position: relative;

}

.carousel__image {
    height: 85%;
    width: 77%;
    border-radius: 10px;
    /* box-shadow: 10px 20px 20px 0 rgba(0,0,0,.2); */
    /* object-fit: cover; */
}

.carousel__image-container::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 70px;
    width: 200px;
    height: 100px;
    z-index: -1;
    box-shadow: 0 20px 40px 0 rgba(0,0,0, .3);
}

.carousel__button-container {
    background-color: white;
    height: 46px;
    width: 90px;
    border-radius: 30px;
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    position: absolute;
    bottom: 2px;
    left: 130px;
}

.carousel__button {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.carousel__button-container img {
    height: 15px;
    width: 13px;
}

p {
    font-weight: 300;
}

strong {
    display: block;
    margin-top: 1rem;
}


.carousel__details-container {
    background-image: url(../images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: 50% 0;
    text-align: center;
    padding: 2rem;
}